
.jcinemas-logo{
  height: 4em;
}

.jcinemas-login-button{
  height: 4em;
  font-size: 2.495em;
}

.MuiButton-label-2 {
  font-size: 1.4em;
}

.title-wrapper{
  /* display: flex; */
  /* width:50%; */
}

