.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #eeeeee;
  margin: 0;
  flex-wrap: wrap
}

.jcinemas-logo{
    height: 6em;
    display: block;
  }
  
  .jcinemas-login-button{
    height: 4em;
    font-size: 2.495em;
  }
  
  .MuiButton-label-2 {
    font-size: 1.4em;
  }
  
  .social-icon {
    border-radius: 40px;
  }
  
  .action-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .action-item{
    padding: 8px;  
  }
  button.action-item {
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 12px 20px;
    height: auto;
    background: white;
    box-shadow: none;
    border: 1px solid #d1d4da;
    margin: 0 10px;
    border-radius: 4px;


}
button.action-item:hover {
    background-color: #f1f3f6;
}
.button-icon--blue {
    width: 36px;
    height: 36px;
    color: white;
    line-height: 36px;
    background: #3a5997;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    font-size: 1.4rem; 
}
.button-icon--skyblue {
    width: 36px;
    height: 36px;
    color: white;
    line-height: 36px;
    background: #02aced;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    font-size: 1.4rem;
}
.button-icon--blue:hover, .button-icon--skyblue:hover {
    color: white;
    opacity: 0.9;
}
.title-wrapper {
  display: flex; 
  align-items: center;
<<<<<<< HEAD
  min-width: 220px;
=======
>>>>>>> 9b0f08e1fc3e19a7b0ed61b813fde3975b705f6d

}
.title-wrapper h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 2.2em;
}
.title-wrapper img {
  margin-right: 10px;
}
  
  