.movies-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1500px;
    margin: auto;
    padding-top: 0;
}
.movies-container .movie-wrapper {
    width: 16.5%;
}

.tab-btn{
    border:1px solid #eee;
    padding:15px 30px;
    position: relative;
    margin-left: -1px;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    
}
.tab-btn:first-child {
    margin-left: 0;
    border-radius: 4px 0 0 4px;
}
.tab-btn:last-child {
    border-radius: 0 4px 4px 0;
}
.tab-btn:hover {
    background: #f1f4f8;

}
.tab-btn.active-tab{
    background: #3B5B95;
    color: white;
    font-weight: 500;
    border-color: #3B5B95;
}
.tab-btn:active, .tab-btn:focus, .tab-btn:hover {
    outline: 0;

}
.tabs-wrapper{
    padding: 30px 35px 15px;
    max-width: 1500px;
    margin:auto;
}
.loading-sign {
    min-height: 30rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    font-size: 2rem;
    color: #777;

}