.movie {
    text-align: center;
    cursor: pointer;
    border: 1px solid #e1e4e8;
    border-radius: 4px; 
}
.movie:hover {
    background: #f1f4f8;
    transform: scale(1.01);
    transform-origin: center;
}
.movie-wrapper {
    padding: 15px 15px;
    box-sizing: border-box;
}
.movie-image {
    height: auto;
    width: 100%;
}
.movie-details {
    padding: 10px;
}
.movie img {
    border-radius: 4px 4px 0 0; 
}